/* BASIC STYLES HERE */
.pencil-logo {
  filter: drop-shadow(0px 2px 5px white)
}

.my-entries {
  min-height: 80vh;
  margin-left: 1em;
  padding: .5em;
  position: relative;
}

.my-active-jot {
  min-height: 80vh;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  margin-right: 1em;
}

.my-form {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding-right: .75em;
}

.menu-button {
  position: fixed;
  right: 25px;
}

.dark-mode {
  /* background-color: #111927; */
  background-color: #102d5e;
  color: #e9ecef;
  border: solid #2f567c 2px
}

.dark-mode textarea {
  background-color: #274373;
  color: #e9ecef;

}